@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background-image: url("background.jpeg");
    background-position: center;
    background-position-x: -500px;
}

#container {
    width: 100%;
    height: 50%;
    margin: auto;
    text-align: center;
    padding: 10px;
}

#type {
    margin-bottom: 25px;
    margin-top: 0px;
}

#question {
    margin-bottom: 0;
}

#break {
    height: 1px;
}

#quizContainer {
    margin: auto;
    width: 33%;
    text-align: center;
}

#qContainer {
    width: 33%;
    text-align: center;
    margin: auto;
}

#labelContainer {
    font-size: 16px;
    margin: auto;
    width: auto;
    float: left;
    text-align: left;
    width: 70%;
}

#radioContainer {
    font-size: 16px;
    margin: auto;
    margin-top: 2.5px;
    width: 30%;
    float: right;
    text-align: left;
}

#score {
    font-size: large;
    width: 50%;
    margin: auto;
    text-align: center;
    font-weight: bold;
}

#nxtButton {
    margin: auto;
    width: 10%;

}

#next {
    font-size: 20px;
    margin-top: 30px;
    width: 100px;
    height: 50px;
    cursor: pointer;
}

.choice {
    padding: 10px;
    margin: auto;
    margin-left: 5px;
    width: 16px;
    height: 16px;
}

canvas {
    top: 100px;
}